
<div class="row mb-4">
    <div class="col-md">
        <h1 class="h1 pl-2">
            Categorias
        </h1>
    </div>

    <div class="col-md">
        <a routerLink="Novo" class="btn btn-success float-right">Nova categoria</a>
    </div>

</div>

<table class="table table-houver">
    <thead>
        <tr class="bg-primary text-light">
            <th>as</th>
            <th>Descrição</th>            
            
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <a class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>

            <td>
                <strong></strong>
                <small></small>
            </td>          

        </tr>
    </tbody>

</table>