<div class="row">
    <div class="px-3 py-3 pt-md-3 pb-md-3">
        <h3>{{tituloDaPagina}}</h3>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <form [formGroup]="categoriaForm" (submit)="submitForm()">
            <div class="alert alert-danger mt-4" *ngIf="msgErroDoServidor">
                <strong>Atenção:</strong>
                <ul>
                    <li *ngFor="let erros of msgErroDoServidor">{{erros}}</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" id="id" formControlName="Id" placeholder="Código">

                        <label>Descrição</label>
                        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome da categoria">
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>