<div class="row">
    <div class="px-3 py-3 pt-md-3 pb-md-3">
        <h3>{{tituloDaPagina}}</h3>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <form [formGroup]="categoriaForm" (submit)="submitForm()">
            <div class="alert alert-danger mt-4" *ngIf="msgErroDoServidor">
                <strong>Atenção:</strong>
                <ul>
                    <li *ngFor="let erros of msgErroDoServidor">{{erros}}</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" id="id" formControlName="id" placeholder="Código">

                        <label>Descrição</label>
                        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome da categoria">
                        <div class="text-danger" *ngIf="categoriaForm.get('nome').invalid && categoriaForm.get('nome').touched">
                            <div *ngIf="categoriaForm.get('nome').errors.required">Dado obrigatório</div>
                            <div *ngIf="categoriaForm.get('nome').errors.minlenght">Nome deve ter mais que 3 caracteres</div>
                            <div *ngIf="categoriaForm.get('nome').errors.maxlength">Nome pode ter mais que 40 caracteres</div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>