<div class="container">

    <div class="card-header text-white bg-dark mb-3">
        {{Titulo}}
    </div>
  
    <form [formGroup]="categoriaForm" (submit)="submitForm()">

        <div class="card">
            <div class="card-header">
                Informações sobre a categoria
            </div>

            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Id</label>
                        <input type="text" class="form-control" id="id" formControlName="id">    
                    </div>
    
                    <div class="form-group col-md-8">
                        <label for="description">Descrição</label>
                        <input type="text" class="form-control" id="description" formControlName="description">  
                
                        <div class="text-danger" *ngIf="categoriaForm.get('name').invalid && categoriaForm.get('name').touched">
                            <div *ngIf="categoriaForm.get('name').errors.required">Dado obrigatorio</div>
                            <div *ngIf="categoriaForm.get('name').errors.minlength">Deve ter no minino 2 caracteres</div>
                        </div>        
            
                    </div>
    
                </div>
            </div>
        </div>
    
        <div class="alert alert-danger mt-4" *ngIf="mensagensDeErro">
            <strong>Erro no servidor:</strong>
            <li *ngFor="let error of mensagensDeErro">{{error}}</li>
        </div>
    
        <button [disabled]="habilitaBotaoSalvar || categoriaForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
  
    </form>

</div>