<app-navbar></app-navbar>

<div class="container">
    
    <div class="row">
        <div class="px py-3 pt-md-3 pb-md-3">
            <h3>Projetos</h3>
        </div>
    </div>

   <!--  <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr--sm-2" type="text" placeholder="Pesquisar" aria-labelledby="PesquisarProjetos">
        <button class="btn btn-outline-success my-2 my-sm-0">Pesquisar</button>
    </form> -->

    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="btn btn-outline-success" routerLink='novo'>
                    <i class="fa fa-plus-square"></i>
                     Novo
                </a>
            </p>

            <div class="table-responsive" *ngIf="projetos?.length">
                <table class="table table-hover table-bordered table-sm">
                    <thead class="thead-light col-md-12">
                        <th class="col-md-1">Id</th>
                        <th class="col-md-7">Projeto</th>
                        <th class="col-md-4">Opções</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let proj of projetos |  paginate: { itemsPerPage: [itensPorPagina], currentPage: paginaAtual }; let i = index">
                            <td>{{proj.id}}</td>
                            <td>
                                <strong>{{proj.nome}}</strong>
                                <br>
                                <small>{{proj.descricao}}</small>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-labelledby="BotoesDeAcao">
                                    <button class="btn btn-outline-warning" [routerLink]="[proj.id,'editar']">
                                        <i class="far fa-edit"></i>
                                        Editar  
                                    </button>
                                    <button class="btn btn-outline-info">
                                        <i class="fas fa-plus"></i>
                                        Release
                                    </button>
                                    <button class="btn btn-outline-primary">
                                        <i class="fas fa-plus"></i>
                                        Documento
                                    </button>    
                                </div>                                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            
                <!--PAGINACAO-->
                <div class="text-right">
                    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                </div>

            </div>                    

            <div class="alert alert-warning" role="alert" *ngIf="!projetos?.length">
                <strong>Atenção!</strong> Nenhum projeto encontrado.
            </div>

        </div>
    </div>
</div>

