<app-navbar></app-navbar>

<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "medium" 
    color = "#fff" 
    type = "pacman" 
    [fullScreen] = "true">
    <p style="color: white" > Aguarde... </p>
</ngx-spinner>

<div class="container">
    
    <div class="row">
        <div class="px py-3 pt-md-3 pb-md-3">
            <h3>Tickets</h3>
        </div>
    </div>

    <!-- CABEÇALHO DO FORMULARIO -->
    <div class="form-row">
        <div class="col-md-3">
            <div class="form-group">
                
                <input type="text" class="form-control" id="nome" placeholder="Pesquisar tickets">               

            </div>
        </div>
    </div>


    <div class="btn-group">
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filtros</a>
        <a class="btn btn-outline-primary" role="button" (click)="listarTickets()">Atualizar</a>
        <a class="btn btn-outline-success" routerLink='novo'><i class="fa fa-plus"></i> Novo</a>        
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>

</div>

<br>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            
            <hr>

            <div class="table" *ngIf="tickets?.length">
                <table class="table table-hover table-bordered table-sm">
                    <thead class="thead-light">
                        <th>Id</th>                        
                        <th>Categoria</th>
                        <th>Título</th>
                        <th>Status</th>
                        <th>Prioridade</th>
                        <th>Criador</th>
                        <th>Opções</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let ticket of tickets">
                            <td>{{ticket.id}}</td>
                            <td>{{ticket.categoria}}</td>
                            <td>{{ticket.titulo}}</td>
                            <td [class.text-danger]="ticket.statusAtual == 'Aberto'" [class.text-primary]="ticket.statusAtual == 'EmAndamento'"
                                [class.text-success]="ticket.statusAtual == 'Concluido'" [class.text-warning]="ticket.statusAtual == 'Cancelado'">
                                
                                {{ticket.statusAtual}}
                            </td>
                            <td [class.text-success]="ticket.prioridade == 'Baixo'" [class.text-primary]="ticket.prioridade == 'Normal'"
                                [class.text-warning]="ticket.prioridade == 'Alto'" [class.text-danger]="ticket.prioridade == 'Urgente'">
                                
                                {{ticket.prioridade}}
                            </td>
                            <td>{{ticket.criador}}</td>
                            <td>
                                <div class="btn-group" dropdown>
                                    <button class="btn btn-primary dropdown-toggle" dropdownToggle="button">Ações</button>
                                    <ul class="dropdown-menu" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="botoesDeAcaoBasico">
                                        <li><a class="dropdown-item" [routerLink]="[1,'editar']">Ver detalhes</a></li>
                                        <li><a class="dropdown-item" [routerLink]="[1,'editar']">Editar</a></li>
                                        <li><a class="dropdown-item" [routerLink]="[1,'editar']">Adicionar Nota</a></li>
                                        <li><a class="dropdown-item" [routerLink]="[1,'editar']">Anexar Arquivo</a></li>
                                        <li class="divider dropdown-divider"></li>
                                        <li><a class="dropdown-item" [routerLink]="[1,'editar']">Finalizar</a></li>
                                        <li><a class="dropdown-item" [routerLink]="[1,'editar']">Cancelar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--PAGINACAO-->
                            
            </div>

            <div class="alert alert-warning" role="alert" *ngIf="!tickets?.length">
                <strong>Atenção!</strong> Nenhum ticket encontrado.
            </div>

        </div>
    </div>
</div>