
<div class="card-header text-white bg-dark mb3">
    <h3>{{titulo}}</h3>
</div>

<div class="card-body">
    
    <form [formGroup]="releaseForm" (submit)="submitForm()">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome da release">
            </div>    
            
            <div class="form-group col-md-6">
                <label>Versão</label>
                <input type="text" class="form-control" id="versao" formControlName="versao" placeholder="Versão da release">
            </div>  

        </div>

        <div class="form-group">                        
            <label>Descrição</label>
            <input type="text" class="form-control" id="descricao" formControlName="descricao" placeholder="Descrição da release">            
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Data de liberação</label>
                <input type="date" class="form-control" id="dataLiberacao" formControlName="dataLiberacao">
            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-outline-primary" [disabled]="habilitarBotaoSalvar || releaseForm.invalid" type="submit">
                <i class="far fa-save"></i>
                Salvar
            </button>
            <!-- <button class="btn btn-outline-secondary" routerLink="/projetos">
                <i class="fas fa-times"></i>
                Fechar
            </button> -->
        </div>
        

    </form>

</div>