
<div class="container">
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='/home' >Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categorias</li>        
        </ol>
    </nav>
</div>

<div class="container ">
    <h1>Categorias</h1>
    <br>

    <div class="table-responsive">        
    
        <table class="table table-bordered  table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Opções</th>
                </tr>
            </thead>
    
            <tbody>
               <tr *ngFor = "let categoria of categorias" >
                   <td>{{categoria.Id}}</td>
                   <td>
                       <strong>{{categoria.Titulo}}</strong>
                       <br>
                       <small *ngIf="categoria.Descricao">{{categoria.Descricao}}</small>
                   </td>
                   <td>
                    <button class="btn btn-outline-warning" >Editar</button>    
                   </td>             
               </tr>
            </tbody>
            
        </table>
    </div>

</div>

