
<div class="container">
 
</div>

<div class="container ">
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='/home' >Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categorias</li>        
        </ol>
    </nav>
    
    <h1>Categorias</h1>
    <br>
    <strong>{{mensagem}}</strong>
    <br>
    <strong>{{sucesso}}</strong>

    <div class="table-responsive">        
    
        <table class="table table-bordered  table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Opções</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let catg of categorias">
                    <td>{{catg.id}}</td>
                    <td>
                        <strong>{{catg.nome}}</strong>
                        <br>
                        <!--<small *ngIf="categoria.Descricao">{{categoria.Descricao}}</small>--->
                    </td>
                    <td>
                    <button class="btn btn-outline-warning">Editar</button>    
                    </td>             
                </tr>
            </tbody>

            <tfoot *ngIf='!categorias'>
                <tr>             
                    <td colspan="7" class="text-center">
                        <!--<h4>Nenhuma categoria encontrada!</h4>-->
                        <alert type="info">
                            <strong>Nada há dados para exibir</strong>
                        </alert>
                    </td>
                </tr>
            </tfoot>
            
        </table>
    </div>

</div>

