<app-navbar></app-navbar>

<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.8)" 
    size = "medium" 
    color = "#fff" 
    type = "pacman" 
    [fullScreen] = "true">
    <p style="color: white" > Aguarde... </p>
</ngx-spinner>

<div class="container">

    <!-- <div class="row">           
        <div class="px-3 py-3 pt-md-3 pb-md-3">
            <h3>MEU PERFIL</h3>
        </div>
    </div> -->
    
    <h3>Meu Perfil</h3>

    <div>
        <tabset [justified]="true">
            
            <tab heading="Meus Tickets"></tab>

            <tab heading="Meus Projetos"></tab>

            <tab heading="Minhas Tarefas"></tab>

        </tabset>
    </div>

</div>