
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='/home' >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tickets</li>        
    </ol>
</nav>

<div class="container">
    <h2>Tickets</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Projeto</th>
                <th>Projeto</th>
                <th>Projeto</th>
                <th>Projeto</th>
                <th>Projeto</th>
                <th>Projeto</th>
            </tr>
        </thead>

        <tbody>
            <td>Id</td>
            <td>Tituloasdfasd</td>
            <td>Descriçãoasdfasdfasdfasdfasdf adsfasdfasdfasdfasd fasdfasdfasdf</td>
            <td>Categoriasdfasdfasdfasdfasdfa</td>
            <td>Projetasdfasdfasdfasdfo</td>
            <td>Projetoasdfasdfasdfasdf</td>
            <td>Projetoadsfasdfasdfasdf</td>
            <td>Projetoasdfasdf asdfasdfasdf asdfasdf asdf</td>
            <td>Projetoasdfasdfasd fasdf asdf </td>
            <td>Projetoasdfasdfasdf asdfasdfas dfasdfasdf </td>
        </tbody>
        
    </table>
</div>

<!--

    "id": 1,
      "dataAbertura": "12/11/2020 22:09:39",
      "titulo": "IMPLEMENTAR NOTIFICAÇÕES",
      "descricao": "IMPLEMENTAR RECURSO DE NOTIFICAÇÃO DENTRO DO SISTEMA E VIA EMAIL",
      "statusAtual": "Concluido",
      "prioridade": "Normal",
      "dataFechamento": null,
      "tempo": null,
      "dataCancelamento": null,
      "motivoCancelamento": null,
      "criador": "WILLIAN",
      "projeto": "MANAGER",
      "categoria": "DESENVOLVIMENTO",
      "usuarioFechamento": null,
      "usuarioCancelamento": null,
      "notas": [],
      "anexos": []
-->