<div class="row">
    <div class="px-3 py-3 pt-md-3 pb-md-3">
        <h3>Dashboard</h3>
        <i class="fas fa-angle-double-right"></i>
    </div>
</div>

<div class="row justify-content-center">

    <div class="col-md-4">
        <div class="card card-ticket">
            <div class="card-body">
                <div class="icon">
                    <img src="../../../assets/icons/bookmark.svg" alt="" width="32" height="32" title="Bootstrap"> 
                </div>
                <div class="text">
                    <h4>Tikets abertos</h4><br>
                    Ótimo, nenhum ticket aberto!
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-tarefa">
            <div class="card-body">
                <div class="icon">
                    <img src="../../../assets/icons/bookmark.svg" alt="" width="32" height="32" title="Bootstrap"> 
                </div>
                <div class="text">
                    <h4>Tarefas</h4><br>
                    Nenhuma tarefa encontrada!
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-mensagem">
            <div class="card-body">
                <div class="icon">
                    <img src="../../../assets/icons/bookmark.svg" alt="" width="32" height="32" title="Bootstrap"> 
                </div>
                <div class="text">
                    <h4>Ultimas Mensagens</h4><br>
                    Nada a exibir
                </div>
            </div>
        </div>
    </div>


</div>